.bill{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: relative;

    &--hide{
        .bill__container{
            .wrapper{
                grid-template-rows: 0fr;
            }
            .inner{
                padding: 0;
            }
        }
    }

    .divider{
        height: 1px;
        width: 100%;
        background-color: black;
    }

    &__container{
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 20px 3px hsla(212,7%,43%,.3);
        background-color: #f9f1eb;
        padding: 2rem 0rem;
        border-radius: 1rem;
        gap: 1rem;
        height: 100%;
        padding-bottom: 3rem;

        .wrapper{
            display: grid;
            grid-template-rows: 1fr;
            transition: all .5s;
        }
        .inner{
            overflow: hidden;
            padding: 1rem 1rem;
            transition: padding .5s;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__hide-bill{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: .5rem;
        // background: linear-gradient(0deg, rgba(43,43,43,.2) 0%, rgba(43,43,43,0) 75%);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        &__button{
            border: 1px solid transparent;
            background-color: transparent;
            color: #6dbcdb;
            font-size: 1.5rem;
            // text-shadow: 1px 2px #3a7b94;
            transition: color .3s;
            transition: all .3;
            cursor: pointer;
            @media all and (min-width: 768px){
                &:hover{
                    color: #389bc2;
                    // text-shadow: 1px 2px #3a7b94;
                }
            } 

            @media all and (max-width: 768px){
                font-size: 1rem;
            }
        }
    }
}