.bill{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .divider{
        height: 1px;
        width: 100%;
        background-color: black;
    }

    &__container{
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 20px 3px hsla(212,7%,43%,.1);
        padding: 1rem;
        border-radius: 1rem;
        gap: 1rem;
    }
}