
$button-width: 4rem;
$button-height: 4rem;

.addBillItem {
  &__container {
    display: flex;
    justify-content: space-between;
    background-color: white;

    &__left,
    &__right {
      display: flex;
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    gap: 1rem;
    position: relative;

    &__item {
      position: relative;

      input {
        height: $button-height;
        width: $button-width;
        appearance: none;
        -webkit-appearance: none;
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 0.1rem;
        opacity: 0.5;
        border-radius: 100%;
        z-index: 2;

        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        &:checked {
          opacity: 1;
        }
      }

      label {
        position: absolute;
        // color: white;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }
    }
  }
}
